.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 135%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 135%;
  font-weight: 700;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h5 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Merriweather, serif;
  line-height: 160%;
  font-weight: 300;
}

a {
  color: #24a7ff;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

li {
  font-family: Merriweather, serif;
  font-weight: 300;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-family: Lora;
  font-size: 20px;
  line-height: 140%;
  font-style: italic;
  font-weight: 400;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 8px;
  font-family: Merriweather, serif;
  color: #aaa;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 11px;
  background-color: #132f75;
  box-shadow: 0 0 0 1px #ddd;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-family: Sen, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 0 0 1px #333;
}

.button.w--current {
  background-color: #2e80b6;
}

.navigation-link {
  margin-left: 25px;
  padding: 15px 0px;
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #333;
}

.navigation-link.w--current {
  color: #333;
}

.section {
  position: relative;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: #fff;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.header-section {
  position: relative;
  margin-bottom: 176px;
  padding-top: 80px;
  padding-bottom: 4px;
  border-bottom: 1px none #ddd;
  background-color: #f0f0f0;
  text-align: center;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #000;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-button:hover {
  opacity: 0.7;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  width: 30px;
  margin-right: 7px;
  margin-left: 7px;
  padding: 4px;
  opacity: 0.36;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-icon-link:hover {
  opacity: 0.8;
}

.nav-link {
  display: inline-block;
  margin-right: 22px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #aaa;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #2d3e4f;
}

.nav-link.w--current {
  color: #333;
}

.nav-link.float-right {
  margin-right: 0px;
  float: right;
}

.site-name {
  display: block;
  margin-top: 13px;
  color: #333;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
}

.site-name.w--current {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.sidebar-text {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 145%;
  font-weight: 400;
  text-align: left;
}

.post-wrapper {
  margin-right: 7%;
  margin-bottom: 40px;
  margin-left: 7%;
  padding-bottom: 40px;
  border-bottom: 1px none #d3d3d3;
  background-color: #f0f0f0;
}

.post-summary {
  display: block;
  margin-bottom: 14px;
  line-height: 144%;
}

.post-info {
  display: inline-block;
  margin-right: 8px;
  color: #969696;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-info.when-link {
  text-decoration: none;
}

.post-info.when-link:hover {
  color: #333;
}

.blog-title-link {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
}

.blog-title-link:hover {
  opacity: 0.61;
}

.body-copy img {
  border-radius: 3px;
}

.body-copy a {
  text-decoration: none;
}

.body-copy a:hover {
  text-decoration: underline;
}

.body-copy li {
  margin-bottom: 3px;
}

.body-copy blockquote {
  margin-left: -23px;
  padding-left: 18px;
  border-left-width: 4px;
  border-left-color: #333;
}

.body-copy figure {
  margin-bottom: 20px;
}

.success-message {
  padding-top: 49px;
  padding-bottom: 49px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.success-text {
  margin-bottom: 0px;
  font-size: 17px;
}

.text-field {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.text-field.text-area {
  min-height: 110px;
}

.social-link-group {
  margin-top: 17px;
  margin-bottom: 3px;
}

.button-wrapper {
  margin-top: 80px;
  color: green;
  text-align: center;
}

.content-wrapper {
  margin-top: -238px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f0f0f0;
}

.blog-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.white-wrapper {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ddd;
}

.circle-profile {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  border-radius: 500px;
}

.section-header {
  margin: 0px 7% 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.main-subheading {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  font-family: Merriweather, serif;
  color: #969696;
  font-size: 16px;
}

.footer {
  padding-top: 29px;
  padding-bottom: 29px;
  border-top: 1px solid #ddd;
  background-color: #f0f0f0;
}

.button-round {
  padding: 5px 12px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: border 200ms ease, color 200ms ease;
  transition: border 200ms ease, color 200ms ease;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.button-round:hover {
  border-color: #333;
  color: #333;
}

.post-info-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}

.menu-icon {
  margin-top: 3px;
  margin-right: 0px;
  float: left;
}

.menu-text {
  margin-left: 8px;
  float: left;
  line-height: 122%;
}

.dropdown-menu {
  z-index: 1;
  padding: 9px 11px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.dropdown-menu:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.menu-link {
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid #d1d1d1;
  background-color: #fff;
}

.menu-link:hover {
  background-color: #f0f0f0;
}

.menu-link.w--current {
  background-color: #f0f0f0;
  color: #333;
}

.menu-link.home {
  border-top-style: none;
}

.menu-list.w--open {
  overflow: hidden;
  margin-top: 12px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14), 0 6px 21px 2px rgba(0, 0, 0, 0.06);
}

.dropdown-wrapper {
  position: absolute;
  left: 20px;
  top: 20px;
}

.sidebar-copy h1 {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 125%;
}

.sidebar-copy p {
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  font-size: 12px;
  font-weight: 400;
}

.sidebar-copy h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 125%;
}

.sidebar-copy h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 125%;
}

.main-title {
  display: block;
  margin-bottom: 15px;
  color: #333;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: none;
}

.content-column {
  padding-right: 22px;
}

.blog-body-wrapper {
  margin-right: 7%;
  margin-left: 7%;
}

.blog-post-header {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ddd;
  background-color: #f0f0f0;
  text-align: center;
}

.blog-page-title {
  margin-right: 7%;
  margin-bottom: 19px;
  margin-left: 7%;
}

.image {
  margin-top: -165px;
  margin-bottom: -156px;
}

.body {
  background-color: #f0f0f0;
}

.container {
  margin-bottom: -146px;
}

.heading {
  font-family: Sen, sans-serif;
  color: #132f75;
  font-weight: 800;
  text-align: center;
}

.heading-2 {
  text-align: center;
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Sen, sans-serif;
  color: #132f75;
  text-align: center;
}

.heading-4 {
  font-family: Sen, sans-serif;
  color: #132f75;
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 91px;
  padding-left: 91px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area";
  -ms-grid-columns: 0.5fr 16px 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.heading-5 {
  font-family: Sen, sans-serif;
  color: #132f75;
  text-align: center;
}

.heading-6 {
  font-family: Sen, sans-serif;
  color: #132f75;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-2 {
  margin-bottom: -35px;
}

.footer-2 {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.section-2 {
  background-color: #ffc400;
}

.link {
  color: #132f75;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000005, 0.6000000000000005);
  -ms-transform: scale(0.6000000000000005, 0.6000000000000005);
  transform: scale(0.6000000000000005, 0.6000000000000005);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media screen and (max-width: 991px) {
  .button {
    font-family: Sen, sans-serif;
  }
  .navigation-link {
    text-align: center;
  }
  .navigation-bar {
    padding-bottom: 5px;
  }
  .navigation-menu {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }
  .header-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .button-wrapper {
    margin-top: 25px;
    margin-bottom: -14px;
  }
  .content-wrapper {
    padding: 60px 20px;
  }
  .white-wrapper {
    padding: 14px;
  }
  .menu-button {
    padding: 15px;
  }
  .heading {
    font-family: Sen, sans-serif;
  }
  .heading-2 {
    margin-top: 23px;
    margin-bottom: 62px;
    font-family: Lora;
  }
  .heading-3 {
    font-family: Sen, sans-serif;
  }
  .heading-4 {
    font-family: Sen, sans-serif;
  }
  .grid {
    grid-template-areas: "Area";
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
  }
  .heading-5 {
    font-family: Sen, sans-serif;
  }
  .heading-6 {
    margin-top: 23px;
    font-family: Sen, sans-serif;
  }
  .image-3 {
    display: block;
  }
  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .section-2 {
    margin-top: -5px;
    background-color: #ffc400;
  }
  .link {
    font-family: Sen, sans-serif;
    color: #132f75;
  }
}

@media screen and (max-width: 767px) {
  .button {
    font-family: Sen, sans-serif;
  }
  .navigation-bar {
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .social-icon-link {
    margin-right: 2px;
    margin-left: 2px;
  }
  .nav-link {
    display: inline-block;
    margin: 0px 12px;
  }
  .nav-link.float-right {
    float: none;
  }
  .post-wrapper {
    margin: 24px 0% 30px;
    padding-bottom: 30px;
  }
  .body-copy blockquote {
    margin-left: 0px;
  }
  .button-wrapper {
    margin-top: 30px;
    text-align: center;
  }
  .content-wrapper {
    width: 100%;
    margin-left: 0px;
    padding: 30px 20px;
  }
  .blog-title {
    font-size: 27px;
    line-height: 36px;
  }
  .white-wrapper {
    margin-top: 20px;
    padding: 34px;
  }
  .section-header {
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0%;
    padding-bottom: 30px;
  }
  .main-subheading {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
  .footer {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .dropdown-wrapper {
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 15px;
  }
  .blog-body-wrapper {
    margin-right: 0%;
    margin-left: 0%;
  }
  .blog-post-header {
    padding: 30px 20px;
  }
  .blog-page-title {
    margin-right: 0%;
    margin-left: 0%;
    font-size: 30px;
    line-height: 36px;
  }
  .image {
    display: block;
    margin-bottom: -178px;
  }
  .container {
    margin-top: 27px;
    margin-bottom: -44px;
  }
  .heading {
    font-family: Sen, sans-serif;
  }
  .heading-3 {
    font-family: Sen, sans-serif;
  }
  .heading-4 {
    font-family: Sen, sans-serif;
  }
  .heading-5 {
    font-family: Sen, sans-serif;
  }
  .heading-6 {
    font-family: Sen, sans-serif;
  }
  .footer-2 {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .header-section {
    margin-top: 1px;
    margin-bottom: 234px;
    border: 1px none #000;
    box-shadow: 1px 1px 3px -20px #000;
  }
  .nav-link {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .post-wrapper {
    margin-top: -24px;
    margin-bottom: 26px;
  }
  .blog-title {
    font-size: 26px;
    line-height: 32px;
  }
  .white-wrapper {
    padding: 20px;
  }
  .footer {
    text-align: center;
  }
  .image {
    width: auto;
    margin-top: -102px;
    margin-bottom: -110px;
  }
  .body {
    margin-top: auto;
  }
  .container {
    border: 0px none transparent;
    border-radius: 0px;
    opacity: 1;
  }
  .heading {
    font-family: Sen, sans-serif;
    font-weight: 700;
  }
  .heading-3 {
    font-family: Sen, sans-serif;
  }
  .heading-4 {
    font-family: Sen, sans-serif;
  }
  .heading-5 {
    font-family: Sen, sans-serif;
  }
  .heading-6 {
    font-family: Sen, sans-serif;
    color: #132f75;
  }
  .image-2 {
    margin-bottom: -25px;
  }
  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
}

#w-node-36117ce88cb8-56566ee0 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-36117ce88cb8-56566ee0 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

